<div class="test-configs">

  <!-- Get Config -->
  <h2>Config API</h2>
  <hr>
  <div class="config-system">
    {{ get_config('system.site', 'mail') }}
  </div>

  <!-- Get State -->
  <h2>State API</h2>
  <hr>
  <div class="config-state">
    {{ get_state('system.cron_last') }}
  </div>

</div>
