<div class="test-files">

  <!-- Extension Guesser -->
  <h2>Extension Guesser</h2>
  <hr>
  <div class="ext-guesser">
    {{ 'application/pdf'|extension_guesser }}
  </div>

  <!-- Theme URL -->
  <h2>Theme URL</h2>
  <hr>
  <div class="theme-url">
    {{ theme_url('stable', 'images/color/hook.png') }}
  </div>

</div>
