<div class="test-paths">

  <!-- System Path -->
  <h2>System Path</h2>
  <hr>
  <div class="path-theme">
    {{ bamboo_path_system('theme', 'starterkit_theme') }}
  </div>
  <div class="path-profile">
    {{ bamboo_path_system('profile', 'standard') }}
  </div>
  <div class="path-module">
    {{ bamboo_path_system('module', 'node') }}
  </div>
</div>
