<div class="test-paths">

  <!-- System Path -->
  <h2>System Path</h2>
  <hr>
  <div class="path-theme">
    {{ bamboo_path_system('theme', 'stable') }}
  </div>
  <div class="path-core">
    {{ bamboo_path_system('core') }}
  </div>
  <div class="path-module">
    {{ bamboo_path_system('module', 'node') }}
  </div>
</div>
